// Self made colors
$textcolor : #585858;

$buttoncolorlight: #D7EEFF;
$buttoncolor: #5BB9FD;
$categorycolor: #70C3FE;
$navbarcolor_old: #3490dc;
$textcolor_footer_dark : #9b9a9a;
$btn-delete-color: #F94343;


$darkmodecolor: #252525;
$darkmodecolor_light: #302C2D;
$darkmodecolor_dark: #1E1E1E;
$darkmodetextcolor:rgba(255, 255, 255, 0.849);
$darkmodefootercolor: #141414;
$darkmodefootercolor_dark: #0A0A0A;

$darkmodeboxshadow: #3E3E3E;

$inputcolor_dark: #2E2E2E;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-title: 'Rockwell';
$font-family-title-size: 3.8rem;
$font-family-title-size-2: 2.3rem;
$font-family-title-size-3: 2rem;
$font-family-title-size-4: 3rem;
$font-family-title-size-5: 2.2rem;
$font-family-title-size-6: 1.9rem;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-size-footer: 0.8rem;

$paragraph-text-size: 1.2rem;
$paragraph2-text-size: 1rem;
$paragraph-line-height: 2.1rem;

$link--inactive-color: #AEAEAE;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
