@import'variables';
@import'functions';
@import'animations';

body {
    padding: 0;
    margin: 0;
    min-height:100%;
    position:relative;
    padding-bottom: 303px;

}

html {
    height: 100%;
}

.card {
    padding-top: 4em;
    padding-bottom: 4em;
}

.vh150 {
    height: 150vh;
}

//styling for stepped form
.tab {
    display: none;
}

.circle {
    height: 50px;
    width: 50px;
    border: 2px solid $buttoncolor;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
    color: white;
}

.circle > h1 {
    margin: auto;
    font-size: 2rem;
}

.activestep {
   background-color: $buttoncolor;
}

.font-white  {
    color: white;
}

.font-white:hover, .font-white:active  {
    color: $buttoncolor;
    transition: 0.3s ease-in-out;

}

.btn-transparent {
    background-color: transparent ;
    color: $buttoncolor;
    border: 1px solid $buttoncolor;
    border-radius: 0;
    margin: 5px;
}
.activebtn {
    color: $buttoncolor;
    border-bottom: 4px solid $buttoncolor;
}

.typebtn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.type {
    display: none;
}
//delete question button styling
.btn-delete {
    color: $btn-delete-color !important;
    font-size: $paragraph2-text-size;
}

//image styling for the image when there are no answers
.img--empty {
    display: block;
    height: 200px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.card--no-border {
    border: none;
}

// prevent text line breaks
.nowrap {
    white-space: nowrap;
}

#questiontitle {
    padding-top: auto;
    padding-bottom: auto;

}

.fulloriginalquestion {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.toolbar {
    background-color:  white;
    box-shadow: $darkmodeboxshadow;
}

.statistic--color {
    color: $buttoncolor;
}

.paragraph--padding {
    margin-bottom: 100px;
}

.info-container {
    position: absolute;
    bottom: 0;
}

.card--relative {
    position: relative;
}

.mobileinfo {
    display: none;
}

.phonesizeinfo  {
    display: none;
}

.imgpreview__container {
    width: 100%;
}

#imgpreview {
    object-fit: contain;
}

.question-paragraph {
    max-height: 140px;
    min-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--question--info {

    position: relative;
    bottom: 0;
    padding-bottom: 1em;
}

.content-container {
    position: relative;
}

.card--question {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card--list {
    width: 100%;
    height: 100%;
}
.img-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.question-img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.img-box {
    height: 280px;
    width: 280px;
    position: relative;
    box-shadow: 15px 15px 0px 0px $darkmodecolor_dark;
    border: 1px solid $darkmodecolor;
    border-radius: 0.5em;
}

.card-welcome--button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card--no-padding {
    padding: 0em;
}

.card--login {
    height: 70vh;
    width: auto;
    border: none;
    border-radius: 6px;
}

.input--shadow {
    box-shadow: 0 0 15px $darkmodecolor_dark;
}

.password-forget-container--padding {
    padding-top: 2em;
}

.form-group--padding {
    padding-right: 15em;
}

.form-control {
    border: none;
}

.viewanserbtn {
    float: right;
}


.answerauthorcontainer {
    display: table-cell;
    vertical-align: middle;
}

.answerauthor {
    color: $buttoncolor;
    text-underline: $buttoncolor;
}


//detailimg size control
.carousel-inner > .carousel-item > .box > img {
    height: 60vh; width: auto;
}

// styling for detail img to be 100 % width so small resolution img's won't display small.
.detailimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box {
    height: 100%;
    width: 100%;
}

.emptyimg {
    height: 300px;
    width: auto;
}

.desktopimg {
    display: inline;
}

.mobileimg {
    display: none;
}

.paragraph {
    font-size: $paragraph-text-size;
    line-height: $paragraph-line-height;
}

.paragraph2 {
    font-size: $paragraph2-text-size;
    line-height: $paragraph-line-height;
}

.phonecontainer {
    vertical-align: bottom;
}

.rowspacingtop {
    padding-top: 100px;
}

.rowspacingbottom {
    padding-bottom: 100px;
}

.homehr {
    //border-top: 1px solid rgba(255, 255, 255, 0.27);
    display: none;
}

#phone2, #phone3 {
    padding-top: 40.2px;
}

#collaboration  {
    max-width: 100%;
    height: auto;
}

#homeworkgirl {
    width: 100%;
    position: absolute;
    top: 15%;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}
.positioncontent {
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.title {
    font-family: $font-family-title;
    font-size: $font-family-title-size;
}

.title2 {
    font-family: $font-family-title;
    font-size: $font-family-title-size-2;
    text-align: center;
}

.title3 {
    font-size: $font-family-title-size-3;

}

.title4 {
    font-family: $font-family-title;
    font-size: $font-family-title-size-4;
}

.title5 {
    font-family: $font-family-title;
    font-size: $font-family-title-size-5;
}

.title6 {
    font-family: $font-family-title;
    font-size: $font-family-title-size-6;
}

.link {
    font-family: $font-family-title;
    margin-bottom: 30px;
    margin-right: 20px;
}

.link--active {
    font-size: $font-family-title-size-4;
    border-bottom: 5px solid white;
}

.link--inactive {
    color: $link--inactive-color;
    font-size: $font-family-title-size-4;
}

/* footer styling */


.footertext {
    font-size: $font-size-footer;
    color: $textcolor;
}

.footerlink {
    color: $buttoncolor;
}

.footercolor {
    background-color: $buttoncolorlight;
}

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 303px;
}

/* fabricjs styling */
.canvas-container {
    margin:0 auto ;
}

.dropdownmenu {
    max-width: 10px !important;
}

.borderright {
    border-right:  2px solid white !important;
}
.borderright:hover {
    border-right:  1px solid white !important;
    position: absolute;
}

.dropdown-item {
    margin-right: auto;
}

.colorindicator1 {
    color: transparent !important;
    border: 1px solid white;
}

.colorindicator2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: transparent !important;
}

.colorindicator3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}
.colorindicator4 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}

/* this is a tool called hover.css which is responsible for the hover effect on navbar. Before we go online be sure to change this as this isn't allowed to be used for commercial use.*/
#nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

#nav-link:before {
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $buttoncolor;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before {
    left: 0;
    right: 0;
}

#nav-link, #nav-link-user, #navbarDropdown {
    font-size: 1rem;
}

/* this style is solely for making the navbar resizing look smooth*/
#navbar, #logo {
    transition: 0.3s;
}


.dropdownmenu-hr {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.content {
    position: fixed;
}

#content1 {
    padding-top: 3%;
    padding-bottom: 3%;
}

#mac {
    padding-top: 20px;
}

/* adds some padding to the first page */
.startpage {
    padding-top: 8px;
}

#content2_header {
    text-align: center;
    padding-bottom: 3%;
}

/* resizes image inside #content2 */
#iphoneimage {
    @include iphoneimgsize();
}
/* styling for the "Get Started" button*/
.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: $buttoncolor !important;
    border-radius: 0;
    outline: none;
    bottom: 50%;
}

.btn-primary {
    background-color: $buttoncolor !important;
    border-radius: 0 !important;
    outline: #585858 !important;
    bottom: 50%;
    margin: 5px;
}

.btn-white:hover {

    border-width: 2px !important;
    color: $buttoncolor;
    transition-duration: 1s;
    outline: none;
    bottom: 50%;
    margin: 0px
}

.btn-white {
    border-radius: 0px !important;

    outline: $buttoncolor;
    bottom: 50%;
    margin: 2px;
    color: $buttoncolor;
}

.card--question--padding {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


/*border-radius for cards in detail views to align correctly*/

.card--border-radius {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.card__answer--border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card__text--border {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card__img--border {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}
/* gives all the headers and paragraphs Montserrat font*/
h4, h3, h2, h1 {
    @include fontstandard();
}

p {
    @include fontstandard();
    size: 15px;
}

/* gives every content the margin around the text*/
#content2, #content3, #content4 {
    @include contentmargin();
}

// responsive resizing mediaqueries
// 0 px and down will get styling
@media screen and (max-width: 0px) {

}


// 540 px and down will get styling
@media screen and (max-width: 350px) {

}

// 540 px and down will get styling
@media screen and (max-width: 540px) {


.img-box {
    height: 280px;
    width: 100%;
    position: relative;
    box-shadow: 15px 15px 0px 0px $darkmodecolor_dark;
    border: 1px solid $darkmodecolor;
    border-radius: 0.5em;
    }

}
// 720 px and down will get styling
@media screen and (max-width: 720px) {


    /* for changing the order of elements based on screen size */
    .desktopinfo {
        display: none;
    }

    .mobileinfo {
        display: block;
    }

    .question-paragraph {
        display: none;
    }

    .dashboardstat h1{
        text-align: center;
    }

    .card-welcome--button {
        margin: 0 auto;
        display:block;
    }

    .mobilespacingtop {
        padding-top: 150px;
    }

    .desktopimg {
        display: none;
    }

    .mobileimg {
        display: inline;
    }

    #homeworkgirl {
        position: static;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        padding-top: 30px;
    }

    .widebutton {
        margin: 0;
        width: 100%;
    }

    #homebtn1 {
        margin-bottom: 8px;
    }

    .positioncontent {
        position: static;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
// 960 px and down will get styling
@media screen and (max-width: 960px) {

}
// 1140 px and down will get styling
@media screen and (max-width: 1140px) {

}

/*implements dark mode */
//@media (prefers-color-scheme: dark) {

    .link--active {
        color: white;
    }

    body {
       background-color: $darkmodecolor_dark;
   }


    .footercolor {
        background-color: $darkmodefootercolor;
    }

    .footerdark {
        background-color: $darkmodefootercolor_dark;
    }

    .card {
        background-color: $darkmodecolor;
    }

    .card--color-2 {
        background-color: $inputcolor_dark;
    }

    .toolbar {
        background-color:  $inputcolor_dark;
        box-shadow: $darkmodeboxshadow;
        border-radius: 1em;
    }

    .toolbar button {
        background-color:  $inputcolor_dark;
        color: white;
    }
    .toolbar button:hover {
        background-color:  $inputcolor_dark;
        color: white;
    }

   p {
    color: $darkmodetextcolor;
    size: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        color:$darkmodetextcolor;
    }
    .darkmodetoggle {
        background-color: $darkmodecolor !important;
    }
    label {
        color: $darkmodetextcolor;
    }
    .card-body {
        background-color: $darkmodecolor;
    }
    .card-header {
        background-color: $darkmodecolor_dark !important;
        color: $darkmodetextcolor !important;
        border-color: $darkmodecolor_dark !important;
    }
    input {
        background-color: $inputcolor_dark !important;
        color: $darkmodetextcolor !important;
    }
    .contentarea{
        background-color: $inputcolor_dark;
    }

    .contentarea:focus{
        background-color: $inputcolor_dark;
        color: white;
    }
    #feedhr{
        border-top: 1px solid rgba(255, 255, 255, 0.527);
    }

    .feedhr{
        border-top: 1px solid rgba(255, 255, 255, 0.527) !important;
    }

    #dropdownmenunav {
        background-color: $darkmodecolor;

    }
    .dropdown-item {
        color: $darkmodetextcolor;
    }
    .dropdown-item:hover {
        background-color: $darkmodecolor_light;
        color: $darkmodetextcolor;
    }

    #nav-link, #navbarDropdown{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      #nav-link:before, #navbarDropdown:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $buttoncolor;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;


      }
      #nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before, #navbarDropdown:hover:before, #navbarDropdown:focus:before, #navbarDropdown:active:before {
        left: 0;
        right: 0;

      }

      #nav-link:hover, #navbarDropdown:hover {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
        color: $buttoncolor;
      }

    /*footerstyling*/
    .footertext {
        font-size: $font-size-footer;
        color: $textcolor_footer_dark;
    }

    .footerlink {
        color: $buttoncolor;
    }


    .answercontainer {
        background-color: $inputcolor_dark;
        border-radius: 10px;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2em;
    }

    .card--question {
        background-color: $inputcolor_dark;
    }

    .card--shadow {
        box-shadow: 0 0 10px $darkmodecolor_dark;
    }

//}

button.activedrawbtn, button.activedrawbtn:hover {
    background-color: $buttoncolor;
}
