@import'variables';
@import'functions';

body {
    padding: 0;
    margin: 0;
    min-height:100%;
    position:relative;
    padding-bottom: 303px;
}

html {
    height: 100%;
}

.card--login { 
    height: 70vh;
    width: auto;
    border: none;
    border-radius: 6px;
}

.password-forget-container--padding { 
    padding-top: 2em;
}

.form-group--padding { 
    padding-right: 15em;
}

.form-control { 
    border: none;
}

.viewanserbtn {
    float: right;
}

.answercontainer {
    border: 1px solid black;
}

.answerauthorcontainer {
    display: table-cell;
    vertical-align: middle;
}

.answerauthor {
    color: $buttoncolor;
    text-underline: $buttoncolor;
}


.carousel-inner > .carousel-item > .box > img { height: 80vh; width: auto; }

// styling for detail img to be 100 % width so small resolution img's won't display small.
.detailimg {
    min-width: 100%;
    min-height: 100%;
}

.box {
    height: auto;
    width: 100%;
}

.emptyimg {
    height: 300px;
    width: auto;
}

.desktopimg {
    display: inline;
}

.mobileimg {
    display: none;
}

.paragraph {
    font-size: $paragraph-text-size;
    line-height: $paragraph-line-height;
}

.phonecontainer {
    vertical-align: bottom;
}

.rowspacingtop {
    padding-top: 100px;
}

.rowspacingbottom {
    padding-bottom: 100px;
}

.homehr {
    //border-top: 1px solid rgba(255, 255, 255, 0.27);
    display: none;
}

#phone2, #phone3 {
    padding-top: 40.2px;
}

#collaboration  {
    max-width: 100%;
    height: auto;
}

#homeworkgirl {
    width: 100%;
    position: absolute;
    top: 15%;
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
}
.positioncontent {
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.title {
    font-family: $font-family-title;
    font-size: $font-family-title-size;
}

.title2 {
    font-family: $font-family-title;
    font-size: $font-family-title-size-2;
    text-align: center;
}

.title3 {
    font-size: $font-family-title-size-3;

}

/* footer styling */

.footercolor {
    background-color: $darkmodefootercolor;
}

.footerdark {
    background-color: $darkmodefootercolor_dark;
}

.footertext {
    font-size: $font-size-footer;
    color: $textcolor;
}

.footerlink {
    color: $buttoncolor;
}

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 303px;
}

/* fabricjs styling */
canvas {
    #c {
        border: 1px solid white !important;
        margin-left: auto;
        margin-right: auto;
    }
}
.canvas-container {
    margin:0 auto ;
}

.dropdownmenu {
    max-width: 10px !important;
}

.borderright {
    border-right:  2px solid white !important;
}
.borderright:hover {
    border-right:  1px solid white !important;
    position: absolute;
}

.dropdown-item {
    margin-right: auto;
}

.colorindicator1 {
    color: transparent !important;
    border: 1px solid white;
}

.colorindicator2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: transparent !important;
}

.colorindicator3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}
.colorindicator4 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}

/* this is a tool called hover.css which is responsible for the hover effect on navbar. Before we go online be sure to change this as this isn't allowed to be used for commercial use.*/
#nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

#nav-link:before {
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $buttoncolor;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before {
    left: 0;
    right: 0;
}

#nav-link, #nav-link-user, #navbarDropdown {
    font-size: 1rem;
}

/* this style is solely for making the navbar resizing look smooth*/
#navbar, #logo {
    transition: 0.3s;
}

.question-data{
    font-size: 90% !important;
    font-style: italic;
}

.dropdownmenu-hr {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.content {
    position: fixed;
}

#content1 {
    padding-top: 3%;
    padding-bottom: 3%;
}

#mac {
    padding-top: 20px;
}

/* adds some padding to the first page */
.startpage {
    padding-top: 8px;
}

#content2_header {
    text-align: center;
    padding-bottom: 3%;
}

/* resizes image inside #content2 */
#iphoneimage {
    @include iphoneimgsize();
}
/* styling for the "Get Started" button*/
.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: $buttoncolor !important;
    border-radius: 0;
    outline: none;
    bottom: 50%;
}

.btn-primary {
    background-color: $buttoncolor !important;
    border-radius: 0 !important;
    outline: #585858 !important;
    bottom: 50%;
    margin: 5px;
}

.btn-white:hover {

    border-width: 2px !important;
    color: $buttoncolor;
    transition-duration: 1s;
    outline: none;
    bottom: 50%;
    margin: 0px
}

.btn-white {
    border-radius: 0px !important;

    outline: $buttoncolor;
    bottom: 50%;
    margin: 2px;
    color: $buttoncolor;
}
/* gives all the headers and paragraphs Montserrat font*/
h4, h3, h2, h1 {
    @include fontstandard();
}

p {
    @include fontstandard();
    size: 15px;
}

/* gives every content the margin around the text*/
#content2, #content3, #content4 {
    @include contentmargin();
}

// responsive resizing mediaqueries
// 0 px and down will get styling
@media screen and (max-width: 0px) {

}

// 540 px and down will get styling
@media screen and (max-width: 540px) {


}
// 720 px and down will get styling
@media screen and (max-width: 720px) {

    .mobilespacingtop {
        padding-top: 150px;
    }

    .desktopimg {
        display: none;
    }

    .mobileimg {
        display: inline;
    }

    #homeworkgirl {
        position: static;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        padding-top: 30px;
    }

    #homebtn1, #homebtn2 {
        margin: 0;
        width: 100%;
    }

    #homebtn1 {
        margin-bottom: 8px;
    }

    .positioncontent {
        position: static;
        top: 0%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
// 960 px and down will get styling
@media screen and (max-width: 960px) {

}
// 1140 px and down will get styling
@media screen and (max-width: 1140px) {

}

/*implements dark mode */
@media (prefers-color-scheme: dark) {
    body {
       background-color: $darkmodecolor_dark;
   }

   p {
    color: $darkmodetextcolor;
    size: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        color:$darkmodetextcolor;
    }
    .darkmodetoggle {
        background-color: $darkmodecolor !important;
    }
    label {
        color: $darkmodetextcolor;
    }
    .card-body {
        background-color: $darkmodecolor;
    }
    .card-header {
        background-color: $darkmodecolor_dark !important;
        color: $darkmodetextcolor !important;
        border-color: $darkmodecolor_dark !important;
    }
    input {
        background-color: $darkmodecolor_light !important;
        color: $darkmodetextcolor !important;
    }
    .contentarea{
        background-color: $darkmodecolor_light;
    }
    #feedhr{
        border-top: 1px solid rgba(255, 255, 255, 0.527);
    }

    .feedhr{
        border-top: 1px solid rgba(255, 255, 255, 0.527) !important;
    }

    #dropdownmenunav {
        background-color: $darkmodecolor;

    }
    .dropdown-item {
        color: $darkmodetextcolor;
    }
    .dropdown-item:hover {
        background-color: $darkmodecolor_light;
        color: $darkmodetextcolor;
    }

    #nav-link, #navbarDropdown{
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      #nav-link:before, #navbarDropdown:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $buttoncolor;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      #nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before, #navbarDropdown:hover:before, #navbarDropdown:focus:before, #navbarDropdown:active:before {
        left: 0;
        right: 0;

      }

      #nav-link:hover, #navbarDropdown:hover {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
        color: $buttoncolor;
      }

    /*footerstyling*/
    .footertext {
        font-size: $font-size-footer;
        color: $textcolor_footer_dark;
    }

    .footerlink {
        color: $buttoncolor;
    }

    /* answer stylign */
    .answercontainer {
        border: 2px solid white;
        border-radius: 10px;
    }

}
