@import'variables';
@import'functions';


/* fabricjs styling */ 
#c {
    border: 1px solid black;
}
.canvas-container { 
    margin:0 auto ;
}

.dropdownmenu { 
    max-width: 10px !important;
}

.borderright {
    border-right:  2px solid white !important;
}
.borderright:hover {
    border-right:  1px solid white !important;
    position: absolute;
}

.dropdown-item {
    margin-right: auto;
}

.colorindicator1 {
    color: transparent !important;
    border: 1px solid white;
}

.colorindicator2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: transparent !important;
}

.colorindicator3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}
.colorindicator4 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}

/* this is a tool called hover.css which is responsible for the hover effect on navbar. Before we go online be sure to change this as this isn't allowed to be used for commercial use.*/
#nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
#nav-link:before {
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $buttoncolor;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before {
    left: 0;
    right: 0;
}

#nav-link, #nav-link-user {
    font-size: 1rem;
}

/* this style is solely for making the navbar resizing look smooth*/
#navbar, #logo {
    transition: 0.3s;
}

.question-data{
    font-size: 90% !important;
    font-style: italic;
}

.dropdownmenu-hr {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.content {
    position: fixed;
}

#content1 {
    padding-top: 3%;
    padding-bottom: 3%;
}

#mac {
    padding-top: 20px;
}

/* adds some padding to the first page */
.startpage {
    padding-top: 8px;
}

#content2_header {
    text-align: center;
    padding-bottom: 3%;
}

/* resizes image inside #content2 */
#iphoneimage {
    @include iphoneimgsize();
}
/* styling for the "Get Started" button*/
.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: $buttoncolor !important;
    border-radius: 0;
    outline: none;
    bottom: 50%;
}

.btn-primary {
    background-color: $buttoncolor !important;
    border-radius: 0 !important;
    outline: #585858 !important;
    bottom: 50%;
    margin-bottom: 8px;
}

.btn-white:hover {
    border-width: 2px !important;
    color: $buttoncolor;
    box-shadow: 10px;
    outline: none;
    bottom: 50%;
}

.btn-white {
    border-radius: 0px !important;
    outline: $buttoncolor;
    bottom: 50%;
    margin-bottom: 8px;
    margin-left: 5px;
    color: $buttoncolor;
}
/* gives all the headers and paragraphs Montserrat font*/
h4, h3, h2, h1 {
    @include fontstandard();
}

p {
    @include fontstandard();
    size: 15px;
}

/* gives every content the margin around the text*/
#content2, #content3, #content4 {
    @include contentmargin();
}
/*implements dark mode */
@media (prefers-color-scheme: dark) {
    body {
       background-color: $darkmodecolor_dark;
   }

   p {
    color: $darkmodetextcolor;
    size: 15px; 
    }
    h1, h2, h3, h4, h5, h6 {
        color:$darkmodetextcolor;
    }
    .darkmodetoggle {
        background-color: $darkmodecolor !important; 
    }
    label {
        color: $darkmodetextcolor;
    }
    .card-body {
        background-color: $darkmodecolor;
    }
    .card-header {
        background-color: $darkmodecolor_dark !important;
        color: $darkmodetextcolor !important;
        border-color: $darkmodecolor_dark !important;
    }
    input {
        background-color: $darkmodecolor_light !important;
        color: $darkmodetextcolor !important;
    }
    .contentarea{
        background-color: $darkmodecolor_light;
    }
    #feedhr{ 
        border-top: 1px solid rgba(255, 255, 255, 0.527);
    }

    #dropdownmenunav {
        background-color: $darkmodecolor;
        
    }
    .dropdown-item {
        color: $darkmodetextcolor;
    }
    .dropdown-item:hover {
        background-color: $darkmodecolor_light;
        color: $darkmodetextcolor;
    }

    #nav-link {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
      }
      #nav-link:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $buttoncolor;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      #nav-link:hover:before, #nav-link:focus:before, #nav-link:active:before {
        left: 0;
        right: 0;
        
      }

      #nav-link:hover {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
        color: $buttoncolor;
      }
    
}