@import'variables';
@import'functions';


#feedhr{ 
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

/* this style is solely for making the navbar resizing look smooth*/
#navbar, #logo {
    transition: 0.3s;
}

.question-data{
    font-size: 90% !important;
    font-style: italic;
}

.dropdownmenu-hr {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.content {
    position: fixed;
}

#content1 {
    padding-top: 3%;
    padding-bottom: 3%;
}

#mac {
    padding-top: 20px;
}

/* adds some padding to the first page */
.startpage {
    padding-top: 8px;
}

#content2_header {
    text-align: center;
    padding-bottom: 3%;
}

/* resizes image inside #content2 */
#iphoneimage {
    @include iphoneimgsize();
}
/* styling for the "Get Started" button*/
.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: $buttoncolor !important;
    border-radius: 0;
    outline: none;
    bottom: 50%;
}

.btn-primary {
    background-color: $buttoncolor !important;
    border-radius: 0 !important;
    outline: #585858 !important;
    bottom: 50%;
    margin-bottom: 8px;
}

.btn-white:hover {
    border-width: 2px !important;
    color: $buttoncolor;
    box-shadow: 10px;
    outline: none;
    bottom: 50%;
}

.btn-white {
    border-radius: 0px !important;
    outline: $buttoncolor;
    bottom: 50%;
    margin-bottom: 8px;
    margin-left: 5px;
    color: $buttoncolor;
}
/* gives all the headers and paragraphs Montserrat font*/
h4, h3, h2, h1 {
    @include fontstandard();
}

p {
    @include fontstandard();
    size: 15px;
}

/* gives every content the margin around the text*/
#content2, #content3, #content4 {
    @include contentmargin();
}
/*implements dark mode */
@media (prefers-color-scheme: dark) {
    body {
       background-color: $darkmodecolor;
   }

   p {
    color: $darkmodetextcolor;
    size: 15px; 
    }
    h1, h2, h3, h4 {
        color:$darkmodetextcolor;
    }
    .darkmodetoggle {
        background-color: $darkmodecolor_dark !important; 
    }
    label {
        color: $darkmodetextcolor;
    }
    .card-body {
        background-color: $darkmodecolor;
    }
    .card-header {
        background-color: $darkmodecolor_dark !important;
        color: $darkmodetextcolor !important;
        border-color: $darkmodecolor_dark !important;
    }
    input {
        background-color: $darkmodecolor_light !important;
        color: $darkmodetextcolor !important;
    }
}