
#c {
    border: 1px solid black;
}
.canvas-container { 
    margin:0 auto ;
}

.dropdownmenu { 
    max-width: 10px !important;
}

.borderright {
    border-right:  2px solid white !important;
}
.borderright:hover {
    border-right:  1px solid white !important;
    position: absolute;
}

.dropdown-item {
    margin-right: auto;
}

.colorindicator1 {
    color: transparent !important;
    border: 1px solid white;
}

.colorindicator2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: transparent !important;
}

.colorindicator3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}
.colorindicator4 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: transparent !important;
}
