/* Place startpage in centerview
.startpage {
  text-align: center;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 8px;
  padding-left: 80px;
}

.wrapper {
  text-align: center;
  padding: 0;
}

*/

/* this style is solely for making the navbar resizing look smooth*/
#navbar, #logo {
    transition: 0.4s;
}

.question-data{
    font-size: 90% !important;
    font-style: italic;
}

.question-input {
    color: blue !important;
}

.dropdownmenu-hr {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.content {
    position: fixed;
}
#content1 {

    padding-top: 3%;
    padding-bottom: 3%;
}

#mac {
    padding-top: 20px;
}


/* styles the submit button for both login aswell as signup form */
#login-submit {
    background-color: #FE6B39 !important;
    color: #585858;
    border-color: #585858 !important;
    width: 100%;
    border-radius: 4px !important;

}

#login-submit:hover {
    background-color: rgb(250, 250, 250) !important;
    color: #FE6B39 !important;
    border-color: #585858 !important;
    width: 100%;
    border-radius: 4px !important;
}

/* adds some padding to the first page */
.startpage {
    padding-top: 8px;
}

#content2_header {
    text-align: center;
    padding-bottom: 3%;
}

/* resizes image inside #content2 */
#iphoneimage {
    height: 300px;
    width: 150px;
}
/* styling for the "Get Started" button*/
.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #5BB9FD !important;
    border-radius: 0;
    outline: none;
    bottom: 50%;
}

.btn-primary {
    background-color: #5BB9FD !important;
    border-radius: 0 !important;
    outline: #585858 !important;
    bottom: 50%;
    margin-bottom: 8px;
}

.btn-white:hover {
    border-width: 2px !important;
    color: #5BB9FD;
    box-shadow: 10px;
    outline: none;
    bottom: 50%;
}

.btn-white {
    border-radius: 0px !important;
    outline: #5BB9FD;
    bottom: 50%;
    margin-bottom: 8px;
    margin-left: 5px;
    color: #5BB9FD;
}
/* gives all the headers and paragraphs Montserrat font*/
h4, h3, h2, h1 {
    font-family: 'Montserrat', sans-serif;
    color: #585858;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #585858;
}

/* gives every content the margin around the text*/
#content2, #content3, #content4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.username_greeting {
    text-align: right;
}

div.username_greeting p {
    margin-top: 0 !important;
    padding-top: 10px;
    text-align: left;

}

/*div hr.linebreak {
    color: #FE6B39;
    width:100%;
    height:2px;
    position: absolute;
    left: 0px;
    margin-top: -1px;
}*/

